*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	background-color: #141b2a;
	font-family: "Inter", "Arial", sans-serif;
	color: #111;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	background: none;
	color: inherit;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
legend {
	border: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
}
